<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Message Board</title>
</head>
<body>
    <h1>Message Detail</h1>
    <div>
        <p>Written By: <%= message.user%></p>
        <p>Message: <%= message.text%></p>
        <p>Date written: <%= message.added%></p>
    </div>
</body>
</html>