<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/detail-styles.css">
    <title>Mini Message Board</title>
</head>
<body>
    <h1>Message Detail</h1>
    <div>
        <p><b>Written By:</b> <%= message[0].users %></p>
        <p><b>Message:</b> <%= message[0].message %></p>
        <p><b>Date written:</b> <%= message[0].date.toISOString().split("T")[0] %></p>
    </div>
</body>
</html>